*{
    margin:0;
    padding: 0;
}
:root{
    --cor-fundo:#393981;
    --cor-fontes:#FAF56A;
}
.cabecalho{
    background-color: var(--cor-fundo);
    color: var(--cor-fontes);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.imagem-cabecalho{
width: 10%;
}
.item-lista-cabecalho{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width: 25%;
}
.escola{
background-image: linear-gradient(#FCF405, #4EBFE9);
}